
### maven modules ###
application/target/
audit-system/target/
billing/target/
certificate-authority/target/
course-management/target/
etl-system/target/
mock-data-system/target/
multi-tenant-data/target/
notification-system/target/
pos-system/target/
security/target/
tenant-management/target/
user-management/target/
utilities/target/
### docker related ###
.env

### Mac OS ###
.DS_Store

#intelliJ
.idea/
application/*.iml
audit-system/*.iml
billing/*.iml
certificate-authority/*.iml
course-management/*.iml
etl-system/*.iml
mock-data-system/*.iml
multi-tenant-data/*.iml
notification-system/*.iml
pos-system/*.iml
security/*.iml
tenant-management/*.iml
user-management/*.iml
utilities/*.iml
