
### maven modules ###
application/target/
audit-service/target/
billing/target/
ca-service/target/
course-management/target/
etl-service/target/
mock-data-service/target/
multi-tenant-data/target/
notification-service/target/
pos-system/target/
security/target/
tenant-management/target/
user-management/target/
utilities/target/
### docker related ###
.env

### Mac OS ###
.DS_Store

#intelliJ
.idea/
application/*.iml
audit-service/*.iml
billing/*.iml
ca-service/*.iml
course-management/*.iml
etl-service/*.iml
mock-data-service/*.iml
multi-tenant-data/*.iml
notification-service/*.iml
pos-system/*.iml
security/*.iml
tenant-management/*.iml
user-management/*.iml
utilities/*.iml
