openapi: 3.0.3
info:
  title: Task Service Module API
  version: 1.0.0
  contact:
    name: ElatusDev
    email: dev@elatusdev.com
  license:
    name: Proprietary

servers:
  - url: https://api.akademiaplus.com/v1
  - url: https://staging-api.akademiaplus.com/v1

security:
  - BearerAuth: []
  - TenantAuth: []

paths:
  '/tasks':
    get:
      operationId: listTasks
      summary: List tasks with optional filters
      tags:
        - Tasks
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TaskStatus'
        - name: assigneeId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: priority
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: overdue
          in: query
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
    post:
      operationId: createTask
      summary: Create a new task
      tags:
        - Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  '/tasks/{taskId}':
    get:
      operationId: getTaskById
      summary: Get task by ID
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateTask
      summary: Update an existing task
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteTask
      summary: Delete a task (soft delete)
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Task deleted successfully
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  '/tasks/{taskId}/complete':
    patch:
      operationId: markTaskComplete
      summary: Mark a task as completed
      tags:
        - Tasks
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Task marked as complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteTaskResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Task already completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    TenantAuth:
      type: apiKey
      in: header
      name: X-Tenant-ID

  schemas:
    TaskPriority:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
        - URGENT

    TaskStatus:
      type: string
      enum:
        - PENDING
        - IN_PROGRESS
        - COMPLETED
        - OVERDUE

    AssigneeType:
      type: string
      enum:
        - STUDENT
        - EMPLOYEE
        - TUTOR
        - COLLABORATOR

    CreateTaskRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        assigneeId:
          type: integer
          format: int64
        assigneeType:
          $ref: '#/components/schemas/AssigneeType'
        dueDate:
          type: string
          format: date
        priority:
          $ref: '#/components/schemas/TaskPriority'
      required:
        - title
        - assigneeId
        - assigneeType
        - dueDate
        - priority

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        assigneeId:
          type: integer
          format: int64
        assigneeType:
          $ref: '#/components/schemas/AssigneeType'
        dueDate:
          type: string
          format: date
        priority:
          $ref: '#/components/schemas/TaskPriority'
        status:
          $ref: '#/components/schemas/TaskStatus'

    Task:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        title:
          type: string
        description:
          type: string
        assigneeId:
          type: integer
          format: int64
        assigneeType:
          $ref: '#/components/schemas/AssigneeType'
        dueDate:
          type: string
          format: date
        priority:
          $ref: '#/components/schemas/TaskPriority'
        status:
          $ref: '#/components/schemas/TaskStatus'
        createdBy:
          type: integer
          format: int64
          readOnly: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        completedAt:
          type: string
          format: date-time
          readOnly: true

    TaskListResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
        page:
          type: integer
        size:
          type: integer

    CompleteTaskResponse:
      type: object
      properties:
        taskId:
          type: integer
          format: int64
        completedAt:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      properties:
        field:
          type: string
        message:
          type: string
